@font-face {
  font-family: 'FEH';
  src: url(./assets/feh.ttf) format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: url('./assets/background_white.jpeg');
  overflow-x: hidden;
  position: relative;

}

#games {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex: 1;
  overflow-y: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  gap: 7%;

}

#games span {
  font-family: FEH;
  font-size: 1.6rem;
  color: white;
  text-shadow:
    -0.075rem -0.075rem 0 #000,
    0 -0.075rem 0 #000,
    0.075rem -0.075rem 0 #000,
    0.075rem 0 0 #000,
    0.075rem 0.075rem 0 #000,
    0 0.075rem 0 #000,
    -0.075rem 0.075rem 0 #000,
    -0.075rem 0 0 #000;
  text-align: center;
  -webkit-text-stroke: 0.33px black;
  line-height: 120%;
}

.game_info_box {
  width: 27%;
  min-height: 375px;
  min-width: 300px;
  aspect-ratio: 300/375;
  position: relative;
  cursor: pointer;
  margin-top: 2%;
}

.game_info_button {
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  cursor: pointer;
  position: absolute;
  background-color: rgba(63, 39, 34, 0.25);
}

.game_img {
  aspect-ratio: 1/1;
  margin-bottom: 10%;
  margin: 10%;
  width: 80%;
  top: 5%;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

#menu {
  height: 100px;
  width: 100%;
  text-align: center;
}

#menu a {
  color: white;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  line-height: 40px;
}

#infobox {
  text-align: center;
}

#gameBtn {
  margin-left: auto;
  margin-right: auto;
}

#gameBtn button {
  padding: none;
  border: none;
  background: none;
  height: 100px;
  width: auto;
}

#gameBtn button img {
  padding: none;
  border: none;
  background: none;
  height: 150px;
  width: auto;
}

@media only screen and (max-width: 1280px) {

  .game_info_box {
    width: 40%;
    min-height: 375px;
    min-width: 300px;
    aspect-ratio: 300/375;
    position: relative;
    cursor: pointer;
    margin-top: 2%;
  }

  #games span {
    font-size: 3vw;
  }
}