@font-face {
  font-family: 'FEH';
  src: url(./assets/feh.ttf) format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: url('./assets/background_white.jpeg');
  overflow-x: hidden;
  position: relative;
}

#banner {
  background-image: url('assets/banner.png');
  background-repeat: repeat-x;
  width: 100%;
  height: 275px;
  text-align: center;
  background-position: center;
}

#logo {
  margin-left: auto;
  margin-right: auto;
  height: 225px;
  margin-top: 30px;
}

#home {
  position: fixed;
  top: 15;
  left: 15px;
  border: none;
  background: none;
  width: 75px;
  height: 75px;
  z-index: 10;
}

#home img {
  width: 75px;
  height: 75px;
}

#filter_bar {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
}

#filter_bar button {
  font-family: 'FEH';
  font-size: 125%;
}

.break {
  color: transparent;
  opacity: 0;
}


#media_div {
  width: 100%;
  font-family: FEH;
}

.line {
  width: 100%;
}

.src_btn {
  width: 30%;
  position: absolute;
  margin-left: 66%;
  top: 25%;
}



.media_box {
  width: 90%;
  height: 30%;
  position: relative;
  min-height: 400px;
  min-width: 700px;
  position: relative;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-family: FEH;
  width: 100%;
  font-size: 175%;
  color: black;
  text-align: center;
  top: 17.5%;
  position: absolute;
  line-height: 120%;
}

.lower_box {
  width: 100%;
  height: 85%;
  top: 15%;
  position: absolute;
  background-color: rgba(166, 127, 65, 0.1);
  display: flex;
}

.title_box {
  position: absolute;
  width: 100%;
  height: 15%;
  min-width: 700px;
}

.img_box {
  height: 100%;
  float: left;
  aspect-ratio: 586/811;
}

.media_img {
  position: absolute;
  height: 100%;
}

.info_box {
  height: 100%;
  min-width: 200px;
  margin-left: 2%;
  margin-top: 1%;
  flex-basis: 0%;
  flex-grow: 1;
  font-family: arial;
}

.buttons_box {
  height: 100%;
  flex-grow: 1;
  min-width: 200px;
  flex-basis: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.buttons_box a {
  width: 95%;
  margin-left: 2.5%;
  height: auto;
}

.buttons_box button {
  width: 95%;
  min-width: 80px;
  min-height: 70px;
  border: none;
  background-image: url('./assets/scan.png');
  background-size: 100%;
  background-position: 50% 50%;
  background-color: transparent;
  background-repeat: no-repeat;
  margin-left: 2.5%;
  position: relative;
  cursor: pointer;
}

.buttons_box table {
  width: 100%;
  font-family: FEH;
  color: white;
}

.button_note {
  width: 70%;
  text-align: left;
  font-size: 2vw;
}

.external {
  background: url('./assets/external.png');
}

.gdrive {
  background: url('./assets/gdrive.png');
}

.mangadex {
  background: url('./assets/mangadex.png');
}

.button_img {
  min-width: 15.5px;
  width: 30%;
  height: 95%;
  background-size: contain;
  background-position: 80% 50%;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
}

#linksTable {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#linksTable a {
  height: 100%;
  width: 100%;
  display: block;
}

#twitter {
  background: url('./assets/twitter.png');
  background-size: 40px 40px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#discord {
  background: url('./assets/discord.png');
  background-size: 40px 40px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}