@font-face {
  font-family: 'FEH';
  src: url(./assets/feh.ttf) format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: url('./assets/background_white.jpeg');
  overflow-x: hidden;
  position: relative;
}

#banner {
  background-image: url('assets/banner.png');
  background-repeat: repeat-x;
  width: 100%;
  height: 275px;
  text-align: center;
  background-position: center;
}

#logo {
  margin-left: auto;
  margin-right: auto;
  height: 225px;
  margin-top: 30px;
}

#home {
  position: fixed;
  top: 15;
  left: 15px;
  border: none;
  background: none;
  width: 75px;
  height: 75px;
  z-index: 10;
}

#home img {
  width: 75px;
  height: 75px;
}

#filter_bar {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
}

#filter_bar button {
  background: transparent;
  cursor: pointer;
  border-color: transparent;
  width: fit-content;
  height: auto;
  padding: 0px 0px 0px 0px;
}

#filter_bar button img {
  cursor: pointer;
  max-height: 100%;
  max-width: 100%;

}

.break {
  color: transparent;
  opacity: 0;
}


#media_div {
  width: 100%;
  font-family: FEH;
  display: flex;
  flex: 1;
 
  flex-direction: row;
  flex-wrap: wrap;

  overflow-y: hidden;


  justify-content: space-around;
  align-content: center;
  gap: 7%;

}

.line {
  width: 100%;
}

.src_btn {
  width: 30%;
  position: absolute;
  margin-left: 66%;
  top: 25%;
}


.media_box {
  width: 90%;
   max-width: 800px;
  height: 30%;
  position: relative;
  min-height: 400px;
  min-width: 700px;
  position: relative;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-family: FEH;
  width: 100%;
  font-size: 175%;
  color: black;
  text-align: center;
  top: 17.5%;
  position: absolute;
  line-height: 120%;
}

.lower_box {
  width: 100%;
  height: 85%;
  top: 15%;
  position: absolute;
  background-color: rgba(166, 127, 65, 0.1);
  box-shadow: 0px 0px 5px rgba(166, 127, 65, 0.1);
  display: flex;
  container-type: size ;
}

.title_box {
  position: absolute;
  width: 100%;
  height: 15%;
  min-width: 700px;
}

.img_box {
  height: 100%;
  float: left;
  aspect-ratio: 586/811;
}

.media_img {
  position: absolute;
  height: 100%;
}

.info_box {
  height: 100%;
  min-width: 200px;
  margin-left: 2%;
  margin-top: 1%;
  flex-basis: 0%;
  flex-grow: 1;
  font-size: 4cqh;
  font-family: arial;

}

.buttons_box {
  height: 100%;
  flex-grow: 1;
  min-width: 200px;
  max-width: 400px;
  flex-basis: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.buttons_box a {
  width: 95%;
  aspect-ratio: 302/53;
  margin-left: 2.5%;
  height: auto;
}

.buttons_box button {
  width: 95%;
  min-width: 80px;
  aspect-ratio: 302/53;
  border: none;
  background-color: transparent;
  margin-left: 2.5%;
  position: relative;
  cursor: pointer;


}

#blue_btn {
  background: url('./assets/entry_blue.png');
  background-repeat: no-repeat;
  aspect-ratio: 302/53;
  background-position: 50% 50%;
  background-size: 100%;
}

#black_btn {
  background: url('./assets/entry_black.png');
  background-repeat: no-repeat;
  aspect-ratio: 302/53;
  background-position: 50% 50%;
  background-size: 100%;
}

#red_btn {
  background: url('./assets/entry_red.png');
  background-repeat: no-repeat;
  aspect-ratio: 302/53;
  background-position: 50% 50%;
  background-size: 100%;
}

#yellow_btn {
  background: url('./assets/entry_yellow.png');
  background-repeat: no-repeat;
  aspect-ratio: 302/53;
  background-position: 50% 50%;
  background-size: 100%;
}

#green_btn {
  background: url('./assets/entry_green.png');
  background-repeat: no-repeat;
  aspect-ratio: 302/53;
  background-position: 50% 50%;
  background-size: 100%;
}

.buttons_box table {

  height: 62.5%;
  width: 100%;
  font-family: FEH;
  color: white;
  container-type: size;


}

.button_note {
  width: 80%;
  text-align: left;
  font-size: 2.5cqw;

}

.external {
  background: url('./assets/external.png');
}

.gdrive {
  background: url('./assets/gdrive.png');
}

.archive {
  background: url('./assets/archive.png');
}


.mangadex {
  background: url('./assets/mangadex.png');
}

.button_img {
  width: 20%;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
}
#contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  gap: 5%;
  width: 100%;
}

.contact_btn {

  min-width: 30px;
  border-radius: 50%;
  max-width: 5%;
  aspect-ratio: 1/1;
  height: auto;
}

.contact_btn img {
  min-width: 30px;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}
