@font-face {
  font-family: 'FEH';
  src: url(./assets/feh.ttf) format("truetype");

}

html,
body {
  margin: 0;
  padding: 0;
}


body {
  background: url('./assets/background_white.jpeg');
  overflow-x: hidden;
  position: relative;

}

#media_div {
  width: 100%;
  font-family: FEH;

}

.line {
  width: 100%;

  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.src_btn {
  width: 30%;
  position: absolute;
  margin-left: 66%;
  top: 25%;
  display: flex;
  flex-direction: column;
}

.src_btn a {

  width: 100%;

  height: auto;
  aspect-ratio: 4 / 1;
}

.src_btn button {
  border: none;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.src_btn button img {
  width: 100%;
}
.media_box {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  width: 80%;
  height: 30%;
  position: relative;
    min-height: 400px;
  min-width: 640px;
    position: relative;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;

}

.title {
  font-family: FEH;
  width: 55%;
  font-size: 175%;
  color: black;
  text-align: center;
 
  left: 38.5%;
  top: 5%;
  position: absolute;
  line-height: 120%;

}

.src_btn button span {
  width: 100%;
  font-size: 175%;
  font-family: FEH;
  color: white;
  position: relative;
  text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
    -webkit-text-stroke: 0.33px black;
}

.media_img {
  min-height: 200px;
  position: absolute;
  height: 90%;
  width: auto;
  left: 1.5%;
  top: 5%;
}

.credits {
  top: 25%;
  left: 25%;
  font-size: 125%;
 text-align: center;
 width: 55%;
    position: absolute;

}

.credits table, tr, td{

    border-style: solid;
  border-color: black;
  border-width: 1px;


}

#home {
  position: fixed;
  top: 15;
  left: 15px;
  border: none;
  background: none;
  width: 75px;
  height: 75px;
}

#home img {

  width: 75px;
  height: 75px;
}

#kofi {
  background: url('./assets/kofi.png');
  background-size: 40px 40px;
  background-position: 50% 50%;

  background-repeat: no-repeat;
}

#twitter {
  background: url('./assets/twitter.png');
  background-size: 40px 40px;
  background-position: 50% 50%;

  background-repeat: no-repeat;
}

#discord {
  background: url('./assets/discord.png');
  background-size: 40px 40px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#linksTable {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#banner {
  background-image: url('assets/banner.png');
  background-repeat: repeat-x;
  width: 100%;
  height: 275px;
  text-align: center;
  background-position: center;


}

#logo {
  margin-left: auto;
  margin-right: auto;
  height: 225px;
  margin-top: 30px;
}

